@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@1,800&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: white !important;
}

.App_container{
  margin-top: 2%;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit
}
.logo{
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 7px;
  /* margin-top: 15%; */
}
.small_logo{
  position: absolute;
  top: 35px;
  letter-spacing: 11px;
}
.grid_container{
  margin-top: 3%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.botones {
  display: flex;
}

.comment{
  background-color: #e6eced;
  border-radius: 20px;
  margin: 1%;
}

.avatar_comment{
  display: flex;
  padding: 10px 0px;
  margin: 5px;
}

.no_products, .categories{
  font-family: 'Epilogue', sans-serif;
  font-size: 1.5rem;
  margin-left: 50%;
  transform: translate(-50%);
  color: #3F51B5;
}